<select class="form-control" name="call_to_action" id="call_to_action" required>
    <option selected></option>
    <option value="INSTALL_MOBILE_APP">モバイルアプリをインストール</option>
    <option value="USE_MOBILE_APP">モバイルアプリを利用</option>
    <option value="SHOP_NOW">購入する</option>
    <option value="PLAY_GAME">ゲームをプレイ</option>
    <option value="USE_APP">アプリを利用</option>
    <option value="WATCH_VIDEO">動画を見る</option>
    <option value="LEARN_MORE">詳しくはこちら</option>
    <option value="SIGN_UP">登録する</option>
    <option value="DOWNLOAD">ダウンロード</option>
    <option value="WATCH_MORE">他の動画を視聴</option>
</select>
