<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <title>facebook tool</title>
    </head>
    <body>
        <div class="page-header container">
            <ol class="breadcrumb">
                <li class="active">Home</li>
            </ol>
            <h1>Facebook Tool <small>Home</small></h1>
        </div>
        <div class="container">
            <h5 class="text-muted">利用するツールを選択してください</h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="./add_creative">
                        <h4>Add Creative</h4>
                        <p class="text-muted">1つのクリエイティブを複数の広告セットに対して一括で追加します。</p>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="./copy_adset">
                        <h4>Copy AdSet</h4>
                        <p class="text-muted">広告セット以下全ての広告をコピーします。<br>カスタムオーディエンスを編集する機能は後日実装予定</p>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <h4>Copy Campaign</h4>
                        <p class="text-muted">今後実装予定</p>
                    </a>
                </li>
            </ul>
        </div>
    </body>
</html>
